<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>shop page</title>
</head>
<body>
<ul th:replace="fragments/header :: navigation"></ul>
<table border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>sku</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td>
            <a href="@{product/{id}(id=${product.id})}" th:text="${product.name}"></a>
        </td>
        <td th:text="${product.sku}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <form action="#" th:action="@{/cart/add}" method="post">
                <input type="hidden" th:value="${product.id}" name="id">
                <button type="submit">add to cart</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>